
*{
    margin: 0;
    padding: 0;
   
}


body {
    font-family: Cambria, Cochin, Georgia;
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #ff9933;
    color: rgb(17, 17, 239);
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

header p {
    font-size: 100px;
    font-style: bold;
}


.image-box {
    text-align: center;
    margin-bottom: 40px;
}

.image-box img {
    max-width: 500px;
    width: 50%;
    border-radius: 25px;
    border: 5px solid white;
    box-shadow: 16px 16px 16px rgba(11, 192, 89, 0.2);
}

.caption {
    margin-top: 15px;
    font-style: italic;
    color: #666;
}


.content-box {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-box h2 {
    color: #0b07e7;
    margin-bottom: 10px;
    font-size: 30px;
    border-bottom: 3px solid #ff9933;
    padding-bottom: 10px;
}

.content-box p {
    margin-bottom: 15px;
    text-align: justify;
}


.content-box ul {
    margin-left: 20px;
    background-color: #fff5e6;
    padding: 20px 20px 20px 40px;
    border-left: 4px solid #1f08ec;
}



.quote-box {
    background-color: #138808;
    color: white;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
}

.quote-box .author {
    margin-top: 15px;
    font-size: 1em;
    font-style: normal;
}


.link-box {
    text-align: center;
    margin: 30px 0;
}

.link-box a {
    display: inline-block;
    background-color: #ff9933;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.link-box a:hover {
    background-color: #138808;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
    font-size: 1.1em;
}